<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Astrology Home Page</title>
    <<style media="screen">
      body{
        background:yellow;
        color:red;
      }
    </style>
  </head>
  <body>
    <h1>Hello Friend, <span>{{wish}}</span></h1>
    <h2>Now The Server Time Is:<span>{{time}}</span></h2>
    <h1>Astrology info for Jaya Prakash <span>{{msg}}</span></h1>
    <h2>Very soon, you are going to get marriage with:<span>{{name}}</span></h2>
  </body>
</html>
